// color - light
$color-light-bg: #fafbfc;
$color-light-base: #222;
$color-light-key: #b31f37;
$color-light-primary: #e16545;
$color-light-code: #4f64ff;
$color-light-content-bg: #f3f4f5;
$color-light-content-line: #ddd;

// color - dark
$color-dark-bg: #282829;
$color-dark-base: #d4d4d4;
$color-dark-key: #1ccd5c;
$color-dark-primary: #43d398;
$color-dark-code: #ffcd3a;
$color-dark-content-bg: #1a1a1a;
$color-dark-content-line: #414141;

// size
$vertical-margin: 1.5rem;
